# ----------------------------------------
# Python
# ----------------------------------------
__pycache__/
*.py[cod]

# ----------------------------------------
# Virtual Environment
# ----------------------------------------
.venv/

# ----------------------------------------
# Apify Local Storage
# ----------------------------------------
storage/

# ----------------------------------------
# Runtime Logs
# ----------------------------------------
*.log
run.log

# ----------------------------------------
# Local Output Files
# ----------------------------------------
*.csv
*.xlsx

# ----------------------------------------
# Debug Files
# ----------------------------------------
debug/
member_debug.html
test.html
test_directory.html

# ----------------------------------------
# macOS
# ----------------------------------------
.DS_Store